Repository Beaulewis1977/saas-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

docs: add .env.example for api keys configuration
  .env.example
Due: none

ci: add develop branch to workflows and fix lint-staged config
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .lintstagedrc.json
  biome.json
Due: biome format --write

ci: configure dependabot to target develop branch
  .github/dependabot.yml
Due: biome format --write

fix(ci): add build step before running tests
  .github/workflows/ci.yml
Due: biome format --write

build(deps-dev): upgrade biome to 2.3.11
  biome.json
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/commands/flags/index.ts
  src/commands/supabase/index.ts
  src/commands/video/index.ts
  src/services/context7.ts
  src/services/perplexity.ts
  src/services/template.ts
  src/utils/config.ts
Due: biome check --write, biome format --write

docs: polish readme with badges and professional styling
  .lintstagedrc.json
  README.md
Due: biome format --write

docs: add github-specific readme enhancements
  README.md
Due: biome format --write

ci: fix release workflow and add tests before publish
  .github/workflows/release.yml
Due: biome format --write

feat: add dotenv support for project-level .env files
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: biome check --write, biome format --write

docs: improve .env section clarity
  README.md
Due: biome format --write

chore: apply pr review feedback and add coderabbit config
  .coderabbit.yaml
  package.json
  src/index.ts
Due: biome check --write, biome format --write

chore: update lockfile for pinned dotenv version
  pnpm-lock.yaml
Due: biome format --write

feat: add dotenv support for project-level .env files (#4)
  .coderabbit.yaml
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: biome check --write, biome format --write

fix: security vulnerabilities and improved error handling
  CHANGELOG.md
  README.md
  src/commands/cf/index.ts
  src/commands/gen/drift.ts
  src/commands/gen/freezed.ts
  src/commands/gen/gorouter.ts
  src/commands/gen/powersync.ts
  src/commands/gen/repository.ts
  src/commands/gen/riverpod.ts
  src/commands/init/index.ts
  src/commands/supabase/index.ts
  src/commands/video/index.ts
  src/services/supabase.ts
  src/utils/column-parser.ts
  src/utils/exec.ts
  src/utils/path.ts
  src/utils/validation.ts
  tests/unit/utils/column-parser.test.ts
  tests/unit/utils/exec.test.ts
  tests/unit/utils/path.test.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write, biome format --write

fix: address pr review feedback
  src/commands/video/index.ts
  src/utils/column-parser.ts
  src/utils/exec.ts
  tests/unit/utils/column-parser.test.ts
  tests/unit/utils/exec.test.ts
  tests/unit/utils/path.test.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write

fix: escape single quotes in dart defaults and use exit_codes constant
  src/utils/column-parser.ts
  tests/unit/utils/column-parser.test.ts
Due: biome check --write

fix: security vulnerabilities and improved error handling (#5)
  CHANGELOG.md
  README.md
  src/commands/cf/index.ts
  src/commands/gen/drift.ts
  src/commands/gen/freezed.ts
  src/commands/gen/gorouter.ts
  src/commands/gen/powersync.ts
  src/commands/gen/repository.ts
  src/commands/gen/riverpod.ts
  src/commands/init/index.ts
  src/commands/supabase/index.ts
  src/commands/video/index.ts
  src/services/supabase.ts
  src/utils/column-parser.ts
  src/utils/exec.ts
  src/utils/path.ts
  src/utils/validation.ts
  tests/unit/utils/column-parser.test.ts
  tests/unit/utils/exec.test.ts
  tests/unit/utils/path.test.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write, biome format --write

chore: bump version to 1.0.1
  CHANGELOG.md
  package.json
Due: biome format --write

fix: address coderabbit pr review feedback
  .coderabbit.yaml
  CHANGELOG.md
  README.md
  src/commands/cf/index.ts
  src/utils/path.ts
  src/utils/validation.ts
  tests/unit/utils/exec.test.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write, biome format --write

fix: add flutter package name validation
  CHANGELOG.md
  src/commands/init/index.ts
  src/utils/validation.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write, biome format --write

chore: release v1.0.1 (#6)
  .coderabbit.yaml
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/commands/cf/index.ts
  src/commands/gen/drift.ts
  src/commands/gen/freezed.ts
  src/commands/gen/gorouter.ts
  src/commands/gen/powersync.ts
  src/commands/gen/repository.ts
  src/commands/gen/riverpod.ts
  src/commands/init/index.ts
  src/commands/supabase/index.ts
  src/commands/video/index.ts
  src/index.ts
  src/services/supabase.ts
  src/utils/column-parser.ts
  src/utils/exec.ts
  src/utils/path.ts
  src/utils/validation.ts
  tests/unit/utils/column-parser.test.ts
  tests/unit/utils/exec.test.ts
  tests/unit/utils/path.test.ts
  tests/unit/utils/validation.test.ts
Due: biome check --write, biome format --write

docs: add maintenance guide
  MAINTENANCE.md
Due: biome format --write

fix: read version from package.json dynamically
  src/cli.ts
Due: biome check --write

chore(release): 1.0.2
  CHANGELOG.md
  package.json
Due: biome format --write

ci: skip publish if version already exists on npm
  .github/workflows/release.yml
Due: biome format --write

Path conditions:
  biome check --write: (any of: src/**/*.{ts,tsx,js,jsx}) or (any of: tests/**/*.{ts,tsx,js,jsx})
  biome format --write: any of: *.{json,md,yaml,yml}
